commands:
  insecure_registry:
    command: "echo 'OPTIONS=\"--insecure-registry 10.0.0.11:5000\"' >> /etc/sysconfig/docker"
    test: "! grep 'OPTIONS=\"--insecure-registry 10.0.0.11:5000\"' /etc/sysconfig/docker"
  docker_rmi:
    command: "docker rmi $(docker images -a | grep 10.0.0.11 | tail -n +3 | awk '{print $3}')"
    ignoreErrors: true
services:
  sysvinit:
    "docker":
      enable: true
      ensureRunning: true
      commands:
        - insecure_registry
