commands:
  00-installpackages:
    command: yum install -y perl-DateTime perl-Sys-Syslog perl-LWP-Protocol-https
  01-downloadscript:
    cwd: /opt/
    command: wget -nc http://aws-cloudwatch.s3.amazonaws.com/downloads/CloudWatchMonitoringScripts-1.2.1.zip
  02-unzip:
    cwd: /opt/
    command: unzip -n CloudWatchMonitoringScripts-1.2.1.zip
  03-setupcron:
    command: |
      echo '*/5 * * * * root perl /opt/aws-scripts-mon/mon-put-instance-data.pl --from-cron --mem-used >> /var/log/cwpump.log 2>&1' > /etc/cron.d/cwpump
  04-changeperm:
    command: chmod 644 /etc/cron.d/cwpump
